@font-face {
  font-family: 'AnimeFont';
  src: url('../fonts/font1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'AnimeFont', sans-serif;
} 

body{
    
    height: 200px;
    width: 300px;
}